* {
    font-family: "montserrat",sans-serif;
}

.div_button{
    justify-content: center;
    text-align: center;
}

#next {
    font-weight: 300px;
    color: #fff;
    width: 100px;
    height: 100px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    border-radius: 50%;
    border: 4px solid black;
    margin: 1px;
}


#pre {
    font-weight: 300px;
    color: #fff;
    width: 100px;
    height: 100px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    border-radius: 50%;
    border: 4px solid black;
    margin: 1px;
}



#Export {
    margin: 15px;
    height: 25px;
    width: 65%;
    max-width: 400px;
    position: relative;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}

    #Export:before {
        content: '';
        position: absolute;
        background: inherit;
        border-radius: 50px;
        filter: blue(20px);
        opacity: 0;
        transition: opacity 0.5s;
    }

    #Export:hover:before {
        opacity: 1;
        z-index: -1;
    }

    #Export:hover {
        z-index: 1;
        animation: glow 8s linear infinite;
    }



#box {
    overflow: scroll;
    height: 300px;
    width: 100%;
    overflow-x: hidden;
}


    #box table {
        border-collapse: collapse;
        margin: 25px;
        font-size: 0.9em;
        min-width: 400px;
        position: relative;
        bottom: auto;
    }

        #box table td {
            padding: 12px 15px;
            background-color: #233;
            color: #f1f1f1;
            border-radius: 10px;
            margin: 10px;
        }



#name {
    width: 100%;
}

#date {
    width: 75%;
}

#description {
    width: 300%;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
}


.page {
    background: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}


.col {
    flex: 1;
    height: 100vh;
    position: relative;
}




.countdown-col {
    background: url(bg1.jpg) no-repeat center;
    width: 608.5px;
    height: 919px;
    position: relative;
    margin: 25px;
}

    .countdown-col h2 {
        font-size: 10em;
        line-height: 0.7em;
        color: #233;
        margin-top: -60px;
        text-align: center;
    }

        .countdown-col h2 p {
            display: block;
            font-weight: 300;
            letter-spacing: 6px;
            font-size: 0.2em;
        }



        

.display {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}


    .display div {
        position: relative;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background: #233;
        color: #fff;
        margin: 0 15px;
        font-size: 3em;
        font-weight: 500;
    }

        .display div:before {
            content: '';
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            height: 40px;
            background: rgb(245, 154, 17);
            color: rgb(48, 42, 42);
            font-size: 0.35em;
            line-height: 35px;
            font-weight: 300;
        }

    .display #day:before {
        content: 'Days';
    }

    .display #hour:before {
        content: 'Hours';
    }

    .display #minute:before {
        content: 'minutes';
    }

    .display #second:before {
        content: 'seconds';
    }




#insert {
    height: 25px;
    width: 100%;
    margin: 12px;
    max-width: 400px;
    position: relative;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}





#delete {
    height: 25px;
    width: 65%;
    margin: 12px;
    max-width: 400px;
    position: relative;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}




#delete {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}

#insert {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}

#delete:before {
    content: '';
    position: absolute;
    background: inherit;
    border-radius: 50px;
    filter: blue(20px);
    opacity: 0;
    transition: opacity 0.5s;
}


#insert:before {
    content: '';
    position: absolute;
    background: inherit;
    border-radius: 50px;
    filter: blue(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

#delete:hover:before {
    opacity: 1;
    z-index: -1;
}


#insert:hover:before {
    opacity: 1;
    z-index: -1;
}

#delete:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

#insert:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}


.newsletter-col {
    background-color: skyblue;
    margin: 0px;
    top: 25px;
    height: 917.5px;
}

    .newsletter-col h1 {
        font-style: italic;
        text-align: center;
        margin-top: 160px;
        line-height: 0.7em;
        color: #233;
        font-weight: 900;
    }

    .newsletter-col input {
        display: block;
        margin: 12px;
        border-radius: 30px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        padding: 14px 20px;
        border: 1px solid #ddd;
        outline: none;
    }


.user_input {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}





@media screen and (max-width:900px) {
    .col {
        flex: 100%;
    }
}













